<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Web API</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="main.css"> -->
    <link rel="stylesheet" href="../static/styles.css" />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">Theme Music</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('visu') }}">
            Visualizations
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('aml') }}">AML Model</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('run_app') }}">APP</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
          </li> 
      </ul>
      <!-- social media -->
    <ul class="social-icons">
      <li>
        <a href="https://www.facebook.com">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://www.twitter.com">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
                <li>
        <a href="https://www.linkedin.com">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
     
    </ul>
    </div>
  </nav>

      <div class="container">
        <div class="row intro-copy align-bottom">
          <div class="small-12 medium-12 large-offset-7 columns load">
            <h1><span>Theme </span><span>Music Analysis</span></h1>
            <p> Are you looking for a playlist to fit your daily activities?</p>
            <p> Are you Looking for a good workout playlist, or Zoom dinner party playlist?</p> 
          </div>
        </div>
        <div class="row">
          <div class = "col-6" data-aos="zoom-in">
            <img class="backImage" src="../static/images/m1.jpg" alt ="backgroud image" style ="width: 500px; height: 600px;">
          </div>
          <div class = "col-6"  data-aos="zoom-in">
          <h2>Team 7</h2>
          <ul>
            <li>Celine Cai</li>
            <li>Belinda Mapesa</li>
            <li>Qinqin Zha</li>
            <li>Val Popovich</li>
          </ul>
        </div>
        </div>
         
        </div>




        <div id="footer" class="hidden-section hidden">
          
            <div class="row align-center">
              <div class="small-12 medium-6 large-3 columns">
                <p>  @UCI Data Analytics Bootcamp Project 3</p>
              </div>
                        
            </div>
        
        </div>

  </div>
    
<!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    

    
</body>


</html>

