<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quantarine_music-selection</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- BootStrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/hoh3yvr.css">
    <link href="https://fonts.googleapis.com/css?family=Overpass:100,300,800" rel="stylesheet">
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />

    <!-- styles -->
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body id ="home">
   
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Quarantine Music</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Visualizations
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="v1.html">Top 50 Global</a>
                <a class="dropdown-item" href="v2.html">Top 50 in May 2020</a>
                <a class="dropdown-item" href="v3.html">Danceability Comparison 2019 vs 2020-May</a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="data.html">Data Source</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
              </li> 
          </ul>
          <!-- social media -->
        <ul class="social-icons">
          <li>
            <a href="https://www.facebook.com">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
                    <li>
            <a href="https://www.linkedin.com">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
         
        </ul>
        </div>
      </nav>


      <header class="masthead">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
              <h1>Who Are We?</h1>
              <p>The team behind the code</p>
            </div>
          </div>
        </div>
      </header>
      
      <div class="container pt-5 px-0">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-light">
            <h2 class="text-success pt-4 pl-2 pr-2 pb-2">About Us</h2>
            <hr>
            <div class = "row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-light">
      
                <img src="images/c.png" class="mr-2 float-left" style="width: 50px; height: 50px;">
                <h4 class="text-success pt-2 pl-2 pr-2 pb-2">Celine Cai</h4>
                <p>
                Lorem ipsum dolor sit amet, diam civibus recteque id vis, mei ridens verterem incorrupte ei. Mel persius nominati electram eu, in tota solum dicunt ius, aliquam pertinacia cu mei. Ne augue regione oblique cum, vero alienum in quo, in habeo autem everti mea. Usu te ubique maiestatis, qui velit assentior an. Ei doctus labitur fuisset nec, nostro accusamus intellegat ea cum, et ius nisl errem aliquam. Usu consul honestatis definitionem ex, novum quidam eu duo, vis nisl argumentum in.  
                </p>
                <br>
                <br>
                <img src="images/b.png" class="mr-2 float-left" style="width: 50px; height: 50px;">
                <h4 class="text-success pt-2 pl-2 pr-2 pb-2">Belinda Mapesa</h4>
                <p>
                    Mel cibo munere impedit et. Sea accusata instructior ea. Falli liberavisse ex per, cu cum debet iracundia. Cum expetendis intellegam cu. Nihil maiorum comprehensam no quo, sea in omnis expetenda, eu modus epicurei eleifend eam.                </p>
                <br>
                <br>
                <img src="images/q.png" class="mr-2 float-left" style="width: 50px; height: 50px;">
                <h4 class="text-success pt-2 pl-2 pr-2 pb-2">Qinqin Zha</h4>
                <p>
                    可 」 不稱讚 建章曰： 訖乃返 危德至 以測機 去 關雎 己轉身. 第七回 招」 第四回 第八回. 出 覽 誨 矣. 矣 出 危德至 」 訖乃返 意 分得意 樂而不淫 耳 後竊聽 關雎. 饒爾去罷」 也懊悔不了 此是後話 ，愈聽愈惱. ，愈聽愈惱 饒爾去罷」 也懊悔不了. 誨 關雎 」 耳. 」 關雎 覽 出 ，可 曰： 誨. 饒爾去罷」 矣 也懊悔不了 」 曰： 關雎 耳 ，愈聽愈惱 誨 覽 此是後話. 己轉身 危德至 不稱讚. 」 出 ，可 事 誨. 出 矣 去 」 事. 事 」 關雎 覽 意 耳. 事 意 」 誨 冒認收了 矣 出 ，可 玉，不題 覽 吉安而來 父親回衙. 此是後話 饒爾去罷」 也懊悔不了 ，愈聽愈惱. 吉安而來 父親回衙 汗流如雨. 分得意 樂而不淫 第十一回 建章曰： 不稱讚 訖乃返. 誨 意 出 ，可 曰： 耳. 」 耳 ，可 去.
                </p>
                <br>
                <br>
                <img src="images/unnamed.jpg" class="mr-2 float-left" style="width: 50px; height: 50px;">
                <h4 class="text-success pt-2 pl-2 pr-2 pb-2">Val Popovich</h4>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                </p>
      
              </div>
            </div>
            <br>
              <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
              </div>
          </div>
        </div>
      </div>
      
      <!--JavaScripts-->
      <!-- Anime-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
<script type="text/javascript" src="static/js/features.js"
    
</body>

</html>

